*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calc_buttons{
    display: grid;
    grid-template-columns: repeat(4,120px);
    grid-template-rows: auto;
}


.screen{
    height: 120px;
   grid-column: span 4;
    background-color: black;
    color: white;
    text-align: right;
    font-size: 40px;
    padding-right: 5px;

}

.calc_button{
   padding: 15px;
   font-size: 30px;
}

.calc_op_button{
    padding: 17px;
    font-size: 30px;
    background-color: orange;
}

.double{
    grid-column: span 2;
}

.triple{
    grid-column: span 3;
}